<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :event_title %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :event_start %><br/>
    <%= f.text_field :event_start %> <span class="gray-text"><em>yyyy-mm-dd</em></span> <!--wasn't working once, although rarer than before.)-->
  </p>

  <p>
    <%= f.label :text %><br/>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= check_box_tag(:time_begin) %> 
   <%= f.label :time %><br/>
    <%= f.time_select :time_begin, :ampm => true, include_blank: true, :disabled => true, :default => {:hour => '19', :minute => '00'} %>
  </p>

  <p>
    <%= check_box_tag(:location) %>
    <%= f.label :location   %><br/>
    <div id="div_location">
      <%= f.text_field :location, :disabled => true %> </span>
    </div>

    <%= check_box_tag(:address) %>
    <%= f.label :address %>
    <div id="div_address">
      <p><%= f.text_field :address, :disabled => true%>  <!--later can make these placeholders and jscript. Once scoped to IE versions.-->
    </div>
    </p>
  
  
 <div class="form-actions">
  <p>
    <%= f.button :Submit, :class => 'btn btn-large btn-primary' %>
  </p>
  </div>
<% end %>
<script>
   $(document).ready(function(){
       $('#div_location').click(function(){
           $(this).find('input').prop('disabled',false);
           $('#location').prop('checked', true)
       });
       $('#div_address').click(function(){
           $(this).find('input').prop('disabled',false);
           $('#address').prop('checked', true)
       });

   });

</script>