// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event {
	padding: 10px;
	margin-left: 20px;
	margin-bottom: 8px;
	background: #FAFAFA;
	border-left: 2px solid #F0F0F0;
	border-bottom: 1px solid #EDEDED;
}

.event-present {
	border: 1px solid white;

	/*border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;*/
}

/*.comments {

	background: #FAFAFA;
	padding: 10px;
	
}*/

#event-title {
	/*font-color: black;*/
	
	/*border-bottom:10px dotted;*/
}

#event-index-title {
	/*font-color: black;*/
	text-decoration: underline;
	/*border-bottom:10px dotted;*/
}

.event p {
	margin: 0px;
}

.event:hover {
	background:#ebebeb;
	border-left: 2px solid #ebebeb;
	border-bottom: 1px dotted #EBEBEB;
	padding-left: 10px;
	margin-left: 20px;
}

.event:hover a {
	text-decoration: none;
}

.event .admin {
	display: none;
}

.event:hover .admin {
	display: inline;
}

#gray-time {
	color: #919191;
}
#post-btn-margin {
	margin-bottom: 12px;
}